{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "last 2 versions"
        },
        "loose": true,
        "modules": false
      }
    ],
    "@babel/react",
    "@babel/preset-typescript"
  ],
  "env": {
    "test": {
      "presets": [["@babel/env"], "@babel/react"]
    }
  }
}
