{
  "presets":
    [
      [
        "@babel/preset-env",
        {
          "targets": {
            "browsers": "last 2 versions"
        },
        "loose": true,
        "modules": false
      }
    ],
    "@babel/react"
    ]
}
