{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": ["@typescript-eslint", "json", "react-hooks", "react"],
  "rules": {
    "jsx-a11y/label-has-for": [
      2,
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "react/display-name": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-filename-extension": 0,

    "@typescript-eslint/explicit-function-return-type": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
