{
  "extends": [
    "airbnb",
    "plugin:jest/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": [
    "json",
    "react-hooks",
    "react"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}