body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  background-color: #FAFAFA;
  color: #fafafa;
  background-color: #000;
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
  border-bottom: 1px dotted currentColor;
  &:hover,
  &:focus {
    border-bottom: 1px solid currentColor;
  }
}
